.content-commande{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.header-commande{
    width: 90%;
    height: 30%;
    // background-color: blue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    // padding: 12em;
}

.header-commande div:nth-child(1), .header-commande div:nth-child(2){
    width: 30%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3px;
}

.main-commande{
    width: 90%;
    height: 90%;
}

table {
    width: 100%;
  }

.example-form-field {
    width: 100%;
}

.btn-action{
    margin: 3px 5px;
    
}
.periode-commande{
    display: flex;
    width: 30%;
    height: 90%;
    justify-content: space-between;
    align-items: center;
    padding: 1.2em;
}
.periode-commande mat-icon{
    cursor: pointer;
    transition: all 200ms ease-in-out;
}
