.content-menu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.header-menu{
    width: 100%;
    height: 20%;
    border: 0.1em solid;
}

.main-menu{
    width: 100%;
    height: auto;
    // background-color: blue;
}

.main-menu h3{
    text-align: center;
}

.list-article{
    width: 100%;
    height: 13em;
    display: flex;
    gap: 1em;
}

.card-article{
    width: 20%;
    height: 100%;
}